<div class="container-fluid footer">
   <div class="container footer">
      <div class="row">
          <div class="col-md-4 footer-link">
            <a href="#" class="">RoR Blog</a>
          </div>
          <div class="col-md-4">
            
          </div>
          <div class="col-md-4 footer-social-icon">
               <ul>
                 <li><a href="https://twitter.com/"><i class="ic-twitter"></i></a></li>
                 <li><a href="https://www.whatsapp.com/" ><i class="ic-whatsup"></i></a></li>
                 <li><a href="https://plus.google.com/" ><i class="ic-google"></i></a></li>
                 <li><a href="https://uk-ua.facebook.com/" ><i class="ic-facebook"></i></a></li>
                 <li><a href="https://www.youtube.com/" ><i class="ic-youtube"></i></a></li>
                 <li><a href="https://www.instagram.com/" ><i class="ic-instagram"></i></a></li>
               </ul>
          </div>
      </div>
   </div>
</div>
   